# Clion
.idea/
cmake-build-*/

# Code
.vscode/

# Visual Studio
.vs/
out/
CMakeSettings.json

build/
logs/
tidy_coverage.txt
format_coverage.txt
test_results.xml
compile_commands.json
lua/
moon_coverage_html/
moon_coverage.xml
